<a href="https://colab.research.google.com/github/kalpana-2417/big-data-analysis/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Big Data Analysis") \
    .getOrCreate()

In [3]:
df = spark.read.csv("/content/Warehouse_and_Retail_Sales.csv", header=True, inferSchema=True)
df.show(5)

+----+-----+--------------------+---------+--------------------+---------+------------+----------------+---------------+
|YEAR|MONTH|            SUPPLIER|ITEM CODE|    ITEM DESCRIPTION|ITEM TYPE|RETAIL SALES|RETAIL TRANSFERS|WAREHOUSE SALES|
+----+-----+--------------------+---------+--------------------+---------+------------+----------------+---------------+
|2020|    1|REPUBLIC NATIONAL...|   100009| BOOTLEG RED - 750ML|     WINE|         0.0|             0.0|            2.0|
|2020|    1|           PWSWN INC|   100024|MOMENT DE PLAISIR...|     WINE|         0.0|             1.0|            4.0|
|2020|    1|RELIABLE CHURCHIL...|     1001|S SMITH ORGANIC P...|     BEER|         0.0|             0.0|            1.0|
|2020|    1|LANTERNA DISTRIBU...|   100145|SCHLINK HAUS KABI...|     WINE|         0.0|             0.0|            1.0|
|2020|    1|DIONYSOS IMPORTS INC|   100293|SANTORINI GAVALA ...|     WINE|        0.82|             0.0|            0.0|
+----+-----+--------------------+---------+--------------------+---------+------------+----------------+---------------+
only showing top 5 rows

In [4]:
df_clean = df.dropna()
df_clean = df_clean.dropDuplicates()

In [6]:
from pyspark.sql.functions import col, lower

df_transformed = df_clean.withColumn("lower_item_type", lower(col("ITEM TYPE")))

In [8]:
df_grouped = df_transformed.groupBy("lower_item_type").agg({"RETAIL SALES": "avg"})
df_grouped.show()

+---------------+------------------+
|lower_item_type| avg(RETAIL SALES)|
+---------------+------------------+
|   str_supplies| 7.217333333333333|
|         liquor|11.611867827463364|
|           kegs|               0.0|
|           wine|3.4691482300885172|
|        dunnage|               0.0|
|            ref| 8.010000000000002|
|    non-alcohol| 9.170138888888891|
|           beer| 8.409389204545462|
+---------------+------------------+

In [10]:
df_transformed.createOrReplaceTempView("data_view")

result = spark.sql("""
SELECT lower_item_type, COUNT(*) as count
FROM data_view
GROUP BY lower_item_type
ORDER BY count DESC
""")
result.show()

+---------------+-----+
|lower_item_type|count|
+---------------+-----+
|           wine| 7232|
|         liquor| 2527|
|           beer| 1408|
|           kegs|  369|
|    non-alcohol|   72|
|   str_supplies|   15|
|        dunnage|    3|
|            ref|    2|
+---------------+-----+

In [11]:
result.write.csv("output/results.csv", header=True)